table{
    margin-left: 130px;
    margin-top: 20px;
    width: 1300px;
    text-align: center;
  }
  body{
    background-image: url(https://damion.club/uploads/posts/2022-03/1648024392_1-damion-club-p-anime-oboi-cherno-belie-oboi-na-rabochii-s-10.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   background-attachment: fixed;
}
  